* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
         url('/fonts/Roboto-Regular.woff') format('woff');
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E7EB;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr; /* sidebar + main */
    grid-template-rows: auto 1fr;     /* header + main */
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

nav {
    grid-area: sidebar;
    background-color: #b0172b;
    color: white;
    padding: 16px;
}

h1 {
    display: grid;
    grid-template-columns: 70px 70px;
    align-items: center;
    font-size: 48px;
}

.article h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.header {
    grid-area: header;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.greeter {
    display: flex;
    gap: 16px;
}

.greeter-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    gap: 8px;
}

.hi {
    font-weight: bold;
    font-size: 24px;
}

.id {
    font-weight: bold;
    font-size: 36px;
}

.article {
    display: grid;
    grid-area: main;
    padding: 20px;
    background-color: #f0f2f5;
}

.card {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 8px;
    border-left: 10px solid #b0172b;
    flex-direction: column;
    justify-content: center;

}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 38px;
}


.card-container {
    display: grid;
    gap: 50px;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #b0172b;
}

li:last-child {
    border-bottom: none;
}

ul {
    list-style-type: none;
}